* {
  margin: 0;
}

.count--container {
  width: 600px;
  margin: 100px auto;
  display:flex;
  flex-direction: column;
}

.count--button {
  background-color: #849324;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  font-size: 24px;
  
}

.count--counter {
  font-size: 72px;
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #FFB30F;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.count--reset {
  margin-top: 10px;
  background-color: #FD151B;
  color: #fff;

}



